p {
  font-size: 12pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  margin: 15pt;
  padding: 5pt;
}
h1 {
  font-size: 25pt;
  color: blue;
}
.price {
  font-size: 25pt;
}
article {
  background-color: blanchedalmond;
}
.cart {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(250, 246, 18);
  color: rgb(0, 0, 0);
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}

h2 {
  text-align: center;
}
button:active {
  background-color: #fdfdfb; /* Change this to your preferred "click" color */
  transform: scale(0.98); /* Optional: adds a slight "pressed" effect */
}
